* {
    margin: 0;
}

p {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 20px;
}

/* HEADER */

header img {
    width: 15%;
    margin: 2% 42.5% 0 42.5%;
}

/* NAV */

.nav-section {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px 0px 50px;
}

.nav-element {
    margin: 0 20px;
    font-weight: 500;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: rgb(49, 49, 49);
}

.nav-element a {
    text-decoration: none;
    color: rgb(0, 179, 250);
}

.nav-element:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.sections-container {
    padding: 0 8%;
}

.artist-section img {
    width: 100%;
}

.artist-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
}

article {
    display: flex;
    padding: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

article p {
    color: #3D3D3D;
}

.article-1 {
    grid-column: 1/ span 2;
    grid-row: 1/ span 1;
    background-image: url('../img/photo_1.jpg');
    background-size: cover;
    background-position: center;
}

.article-2 {
    grid-column: 3/ span 1;
    grid-row: 1/ span 1;
    border: 1px solid #E9E9E9;
}

.article-2 h2 {
    color: rgb(134, 210, 238);
    margin-top: 20%;
}

.article-h2-animation {
    animation-name: article-2-title;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: #57B3D5;
    margin-top: 20%;
}

@keyframes article-2-title {
    0% {
        margin-top: 20%;
    }
    100% {
        margin-top: 0;
    }
}

#article-2-p {
    opacity: 0;
    height: 0;
}

.article-p-animation {
    animation-name: article-2-p;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    height: 0;
}

@keyframes article-2-p {
    0% {
        opacity: 0;
        height: 0;
    }
    50% {
        opacity: 0;
        height: auto;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}

.article-3 {
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
    background-image: url('../img/photo_2.jpg');
    background-size: cover;
    background-position: center;
}

.article-4 {
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
    background-color: rgb(235, 235, 235);
    ;
}

.article-4 p {
    opacity: 0;
}

.article-4-animation {
    animation-name: article-4-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes article-4-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.article-5 {
    grid-column: 3/ span 1;
    grid-row: 2/ span 1;
    background-image: url('../img/photo_3.jpg');
    background-size: cover;
    background-position: right;
}

.article-6 {
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
    background-color: rgb(248, 248, 248);
}

.article-6 p {
    opacity: 0;
}

.article-6-animation {
    animation-name: article-6-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes article-6-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.article-7 {
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
    background-image: url('../img/photo_4.jpg');
    background-size: cover;
    background-position: bottom;
}

.article-8 {
    grid-column: 3/ span 1;
    grid-row: 3/ span 1;
    background-color: rgb(210, 210, 210);
    ;
}

#article-8-p {
    opacity: 0;
}

.article-8-animation {
    animation-name: article-8-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes article-8-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* PARK OF ARTS */

.park-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 400px;
}

.park-img {
    grid-column: 1 / span 1;
    background-image: url(../img/photo_5.jpeg);
    background-size: cover;
    background-position: center;
}

.park-bio {
    grid-column: 2 / span 2;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #709FB0;
    text-align: center;
    color: #ffffff;
    max-height: 400px;
}

.park-bio h2 {
    width: 50%;
    margin-top: 20%;
}

.park-bio a {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.park-h2-animation {
    animation-name: park-h2-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-top: 20%;
}

@keyframes park-h2-animation {
    0% {
        margin-top: 20%;
    }
    40% {
        margin-top: 20%;
    }
    70% {
        margin-top: 10%;
    }
    100% {
        margin-top: 10%;
    }
}

#park-p {
    padding: 0 15%;
    opacity: 0;
    height:0;
}

.park-p-animation {
    animation-name: park-p-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
    height: 0;
    padding: 0 20%;
}

@keyframes park-p-animation {
    0% {
        opacity: 0;
        height: 0;
    }
    50% {
        opacity: 0;
        height: auto;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}

/* CATALOGUE */

.catalogue-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 400px;
}

#artwork-1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-image: url(../img/catalog1.jpg);
    background-size: cover;
}

#artwork-2 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    background-image: url(../img/catalog2.jpg);
    background-size: cover;
}

#artwork-3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-image: url(../img/catalog3.jpg);
    background-size: cover;
}

#artwork-4 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    background-image: url(../img/catalog4.jpg);
    background-size: cover;
}

.catalogue-info {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    border: 1px solid #E9E9E9;
}

.catalogue-article img {
    width: 100%;
}

.catalogue-info h2 {
    color: #57B3D5;
}

.catalogue-info p {
    color: #595959;
    padding: 0% 20% 5%;
}

.catalogue-button {
    border: 1px solid #57B3D5;
    padding: 10px;
    color: #57B3D5;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    opacity: 0;
}

.catalogue-button-animation {
    border: 1px solid #57B3D5;
    padding: 10px;
    color: #57B3D5;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    opacity: 0;
    animation-name: button-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes button-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.catalogue-section a {
    text-decoration: none;
}

.catalogue-section a:hover {
    background-color: #57B3D5;
    color: #ffffff;
}

/* CONTACT */

.contact-section {
    background-color: #E5E5E5;
    height: 260px;
}

.contact-section h2 {
    color: #565656;
}

.contact-section .contacts {
    padding: 3%;
}

.contact-element img {
    width: 25px;
}

.contact-element {
    display: flex;
    align-items: center;
    margin: 15px 5px;
    opacity: 0;
}

.contact-element-1-animation {
    display: flex;
    align-items: center;
    margin: 15px 5px;
    opacity: 0;
    animation-name: contact-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.contact-element-2-animation {
    display: flex;
    align-items: center;
    margin: 15px 5px;
    opacity: 0;
    animation-name: contact-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.contact-element-3-animation {
    display: flex;
    align-items: center;
    margin: 15px 5px;
    opacity: 0;
    animation-name: contact-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes contact-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.contact-element-1-animation img, .contact-element-2-animation img, .contact-element-3-animation img {
    width: 2%;
}

.contact-element p {
    margin-left: 1%;
}

.contact-element-1-animation p, .contact-element-2-animation p, .contact-element-3-animation p {
    margin-left: 1%;
}

/* FOOTER */

.footer {
    background-color: rgb(130, 130, 130);
    display: flex;
    flex-flow: row-reverse;
    color: #ffffff;
    padding: 1% 8%;
    margin-top: 50px;
}

.footer-nav {
    width: 400px;
}

.footer-nav ul {
    list-style: none;
}

.footer-nav-element {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin: 5px 15px 0;
}

.footer-nav-element a {
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
}

.footer-nav-element:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.footer-pomelo {
    width: 420px;
    padding-left: 2%;
    padding-top: 2%;
}

.footer-pomelo img {
    width: 80%;
    padding: 10px 0px;
}

.footer-credit {
    width: 100%;
    background-color: rgb(130, 130, 130);
    display: flex;
    flex-flow: column-reverse;
}

.footer-credit p {
    font-size: 0.9em;
}

.footer-credit a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

hr {
    color: white;
}

/* ARROW */

.arrow {
    width: 3%;
    position: fixed;
    top: 5%;
    left: 94.5%;
    opacity: 0;
}

.arrow-animation {
    width: 3%;
    position: fixed;
    top: 5%;
    left: 94.5%;
    opacity: 0;
    animation-name: arrow-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes arrow-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.arrow-animation-back {
    width: 3%;
    position: fixed;
    top: 5%;
    left: 94.5%;
    opacity: 1;
    animation-name: arrow-animation-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes arrow-animation-back {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.arrow-animation:hover, .arrow-animation-back:hover {
    cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/

/*-----------------------------MEDIA QUERY-------------------------------------------*/

@media(max-width: 768px) {
    p {
        font-size: 1em;
    }
    header img {
        width: 40%;
        margin: 5% 30%;
    }
    nav {
        display: none;
    }
    .sections-container {
        padding: 0 0;
    }
    .artist-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .article-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        background-position: left;
    }
    .article-2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .article-3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    .article-4 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    .article-5 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    .article-6 {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }
    .article-7 {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
    }
    .article-8 {
        grid-column: 1 / span 1;
        grid-row: 8 / span 1;
    }
    .park-section {
        grid-template-rows: 1fr 1fr;
    }
    .park-bio {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        height: 500px;
    }
    .park-bio h2 {
        width: 95%;
        margin-left: 2.5%;
        margin-top: 10%;
    }
    .park-h2-animation {
        animation-name: park-h2-animation;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        margin-top: 50%;
    }
    #park-p {
        padding: 0 5%;
    }
    .park-p-animation {
        padding: 0 5%;
    }
    .park-img {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
    }
    .catalogue-info {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
    }
    .catalogue-article {
        display: none;
    }
    .contact-section {
        height: auto;
    }
    .contact-element-1-animation img, .contact-element-2-animation img, .contact-element-3-animation img {
        width: 1.5em;
    }
    .contact-element p {
        margin-left: 5%;
    }
    .contact-element-1-animation p, .contact-element-2-animation p, .contact-element-3-animation p {
        margin-left: 5%;
    }
    .contact-section h2 {
        margin-top: 10%;
    }
    .footer {
        margin-top: 0px;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-nav {
        display: none;
    }
    .footer-pomelo {
        align-items: center;
        display: flex;
        flex-flow: column;
        width: 90%;
    }
    .footer-pomelo img {
        width: 50%;
    }
    .footer-credit {
        padding-top: 5%;
    }
    footer hr {
        display: none;
    }
    footer p {
        font-size: 0.8em;
    }
    @keyframes article-2-title {
        0% {
            margin-top: 0;
        }
        100% {
            margin-top: 0;
        }
    }
    @keyframes article-2-p {
        0% {
            opacity: 1;
            height: auto;
        }
        100% {
            opacity: 1;
            height: auto;
        }
    }
    @keyframes article-4-animation {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes article-6-animation {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes article-8-animation {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes park-h2-animation {
        0% {
            margin-top: 10%;
        }
        100% {
            margin-top: 10%;
        }
    }
    @keyframes park-p-animation {
        0% {
            opacity: 1;
            height: auto;
        }
        100% {
            opacity: 1;
            height: auto;
        }
    }
    @keyframes button-animation {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes contact-animation {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }

    .arrow{
        display: none;
    }
}