* {
    margin: 0;
}

p {
    font-size: 1.1vw;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 20px;
}

/* HEADER */

header img {
    width: 15%;
    margin: 2% 42.5% 0 42.5%;
}

/* NAV */

.nav-section {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-element {
    margin: 2% 1% 3%;
    font-weight: 500;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: rgb(49, 49, 49);
}

.nav-element:hover {
    font-weight: 700;
    cursor: pointer;
}





.sections-container {
    padding: 0 8%;
}

.artist-section img {
    width: 100%;
}

.artist-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    grid-gap: 20px;
}

article:nth-child(2) {
    display: block;
}

article {
    text-align: center;
    padding: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article p {
    color: #3D3D3D;
}

.article-1 {
    grid-column: 1/ span 2;
    grid-row: 1/ span 1;
    background-image: url('../img/photo_1.jpg');
    background-size: cover;
    background-position: center;
}

.article-2 {
    grid-column: 3/ span 1;
    grid-row: 1/ span 1;
    border: 1px solid #E9E9E9;
}

.article-2 h2 {
    color: rgb(134, 210, 238);
    margin-top: 35%;
}

.article-h2-animation {
    animation-name: article-2-title;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: #57B3D5;
    margin-top: 35%;
}

@keyframes article-2-title {
    0% {
        margin-top: 35%;
    }
    100% {
        margin-top: 0;
    }
}

.article-2 p {
    opacity: 0;
    height: 0;
}

.article-p-animation {
    animation-name: article-2-p;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    height: 0;
}

@keyframes article-2-p {
    0% {
        opacity: 0;
        height: 0;
    }
    50% {
        opacity: 0;
        height: auto;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}

.article-3 {
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
    background-image: url('../img/photo_11.jpg');
    background-size: cover;
    background-position: center;
}

.article-4 {
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
    background-color: rgb(235, 235, 235);
    ;
}

.article-4 p {
    opacity: 0;
}

.article-4-animation {
    animation-name: article-4-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes article-4-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.article-5 {
    grid-column: 3/ span 1;
    grid-row: 2/ span 1;
    background-image: url('../img/photo_3.jpg');
    background-size: cover;
    background-position: right;
}

.article-6 {
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
    background-color: rgb(248, 248, 248);
}

.article-6 p {
    opacity: 0;
}

.article-6-animation {
    animation-name: article-6-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes article-6-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.article-7 {
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
    background-image: url('../img/photo_5.jpg');
    background-size: cover;
    background-position: bottom;
}

.article-8 {
    grid-column: 3/ span 1;
    grid-row: 3/ span 1;
    background-color: rgb(210, 210, 210);
    ;
}

.article-8 p {
    opacity: 0;
}

.article-8-animation {
    animation-name: article-8-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes article-8-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* PARK OF ARTS */

.park-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    grid-gap: 20px;
    margin: 20px 0px;
}

.park-img {
    grid-column: 1 / span 1;
    background-image: url('../img/photo_12.jpg');
    background-position-x: -220px;
    height: 400px;
    background-position-y: -120px;
}

.park-bio {
    grid-column: 2 / span 2;
    display: flex;
    flex-flow: column;
    background-color: #709FB0;
    text-align: center;
    color: #ffffff;
    max-height: 400px;
}

.park-bio h2 {
    margin-top: 20%;
    width: 40%;
    margin-left: 30%;
}

.park-h2-animation {
    animation-name: park-h2-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-top: 20%;
}

@keyframes park-h2-animation {
    0% {
        margin-top: 20%;
    }
    40% {
        margin-top: 20%;
    }
    70% {
        margin-top: 10%;
    }
    100% {
        margin-top: 10%;
    }
}

.park-bio p {
    opacity: 0;
    height: 0;
    padding: 0 20%;
}

.park-p-animation {
    animation-name: park-p-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
    height: 0;
    padding: 0 20%;
}

@keyframes park-p-animation {
    0% {
        opacity: 0;
        height: 0;
    }
    50% {
        opacity: 0;
        height: auto;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}

/* CATALOGUE */

.catalogue-section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
}

.catalogue-article {
    -webkit-box-shadow: 0px 0px 21px -11px rgba(150, 150, 150, 1);
    -moz-box-shadow: 0px 0px 21px -11px rgba(150, 150, 150, 1);
    box-shadow: 0px 0px 21px -11px rgba(150, 150, 150, 1);
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.catalogue-article img {
    width: 100%;
}

.catalogue-article h2 {
    color: #57B3D5;
    margin-top: 10%;
}

.catalogue-article p {
    color: #595959;
    margin: 0 20px 20px;
}

.catalogue-button {
    border: 1px solid #57B3D5;
    padding: 10px;
    color: #57B3D5;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.catalogue-section a {
    text-decoration: none;
}

.catalogue-button:hover {
    background-color: #57B3D5;
    color: #ffffff;
    cursor: pointer;
}

/* CONTACT */

.contact-section {
    background-color: #E5E5E5;
    height: 250px;
    margin: 20px 0;
}

.contact-section h2 {
    color: #565656;
}

.contact-section .contacts {
    padding: 3%;
}

.contact-element img {
    width: 3%;
}

.contact-element {
    display: flex;
    align-items: center;
    margin: 1% 0;
    opacity: 0;
}

.contact-element-1-animation {
    display: flex;
    align-items: center;
    margin: 1% 0;
    opacity: 0;
    animation-name: contact-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.contact-element-2-animation {
    display: flex;
    align-items: center;
    margin: 1% 0;
    opacity: 0;
    animation-name: contact-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.contact-element-3-animation {
    display: flex;
    align-items: center;
    margin: 1% 0;
    opacity: 0;
    animation-name: contact-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes contact-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.contact-element-1-animation img, .contact-element-2-animation img, .contact-element-3-animation img {
    width: 3%;
}

.contact-element p {
    margin-left: 1%;
}

.contact-element-1-animation p, .contact-element-2-animation p, .contact-element-3-animation p {
    margin-left: 1%;
}

/* FOOTER */

.footer-up {
    background-color: #1e1f29;
    display: flex;
    flex-flow: row-reverse;
    color: #ffffff;
    padding: 1% 8%;
}

.footer-pomelo {
    padding: 2%;
}

.footer-pomelo img {
    width: 150px;
    padding: 10px 0px;
}

.credit-icons {
    text-align: center;
    background-color: #0e0d0d;
    color: #ffffff;
    padding: 2px;
}

.credit-icons a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}